# Data / notebooks / builds
**/Twin-2K-500/**
**/processed_data/*.jsonl


*.dta
*.sav
*.log
*.tmp
*.ipynb_checkpoints/
*.parquet

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Logs / Checkpoints / Wandb
logs/
checkpoints/
wandb/