# Data / notebooks / builds
dataset/ces_golden
dataset/ces

*.log
*.tmp
*.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

logs/
wandb/

# ignore any directory whose name contains 'result'
**/*results*/
results/
**/*results*/
**/*result*/
result*/