# Data / notebooks / builds
**/raw_data/**

*.log
*.tmp
*.ipynb_checkpoints/
*.parquet

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

logs/
wandb/

# ignore any directory whose name contains 'result'
**/*results*/
results/
**/*results*/
**/*result*/
result*/